body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    border-radius: 10px;
}

.marco-rosa {
    border: 10px solid #cf9924;
    padding: 20px;
    
}

header {
    background-color: #cf9924;    
    padding: 10px 0;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
}

nav{
    width: 100%;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: #fdfcfc;
    font-weight: bold;
    font-size: 2vw;
}

nav ul li a:hover {
    color: #050000;
}

h1{
    font-size: 4vw;
    text-align: center;
}

h2{
    font-size: 2.5vw;
}

p{
    text-align: center;
}

.ganador{
    border-color:crimson;
    border-width: 5px;
    border-radius: 10px;
}

.header{
    height: 20px;
    display: block;
}

#logo{
    width: 20vw;
    margin: 10px;    
}

#palabra{
    display:flex;
    justify-content: space-around;
    background-color:darkgrey;
    font-size: 5vw;
    margin-left: 50px;
    margin-right: 50px;
}

.casilla{
    background-color:darkgrey;
    font-size: 130px;
}

#informacion{
    display:block;
    max-width: max-content;
    justify-content: space-around;    
    font-size: 5vw;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.botones{
    display: flex;
    justify-content: center;
}

#adivinaLetra{
    font-size: 5vw;
    margin-left: 20px;
    margin-bottom: 30px;
    width: 45vw;
}

#adivinaBtn{
    font-size: 5vw;
    justify-content: center;
    margin-bottom: 30px;
    width: 25vw;
}

.bReinicio{
    text-align: center;
}

.reinicio{
    display: inline-block;
    background-color: #cf9924;
    justify-content: center;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

.alerta {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:#cf9924; /* Color de fondo de la alerta */
    color: black; /* Color del texto de la alerta */
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    display: none;
    font-size: 20px;
    border-color: #050000;
    border-style: double;
}

@media screen and (max-width: 500px) {

nav ul{
    display: block;
}

.seleccionado{
width: 50px;
height: 50px;
}

nav ul li {
margin-right: 0px;
}

}